<!DOCTYPE html>
<html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Message Details</h1>

    <h3>User: <%= message.user %></h3>

    <p>Message: <%= message.text %></p>

    <small>Date: <%= message.added %></small>

    <br /><br />

    <a href="/">Back Home</a>
  </body>
</html>
